<section class="about-section">
  <div class="about-content">
    <h2>About Asciified API</h2>
    <p>
      Asciified is a user-friendly web application designed for creating
      captivating ASCII art using the renowned 'figlet' package. This web app
      offers a seamless experience where users can effortlessly generate unique
      figlet designs.
    </p>
    <p>
      Additionally, Asciified extends its functionality through a dedicated API,
      allowing users to make HTTP GET requests to '/api/v2' while specifying the
      desired text using the 'text' parameter.
    </p>
    <p>
      For added customization, users have the option to specify their preferred
      font from a diverse selection available on the platform. Asciified
      empowers individuals to explore the world of ASCII art with ease and
      creativity.
    </p>
  </div>
</section>
